
@{
    ViewBag.Title = "Display";
}
<!DOCTYPE html>
<html>
<head>
    <style>
        .bg1 {
            width: 100%;
            height: 100%;
            background-size: cover;
        }
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>Display</title>
</head>
<body background="~/Utils/map.png" class="bg1">
    <canvas id="myCanvas"></canvas>
    <script>
        var canvas = document.getElementById("myCanvas");
        canvas.width = window.innerWidth-80;
        canvas.height = window.innerHeight-80;
        var ctx = canvas.getContext("2d");
        var IntervalTime = 1000*(@ViewBag.time);
        console.log(IntervalTime);
        function normalizeLongitude(lon) {
            var newLon = ((parseFloat(lon) + 180) * canvas.width / 360);
            return newLon;
        }
        function normalizeLatitude(lat) {
            var newLat = ((parseFloat(lat) + 90) * canvas.height / 180);
            newLat = canvas.height - newLat;
            return newLat;
        }

        draw = function (lon,lat) {
            var normLon = normalizeLongitude(lon);
            var normLat = normalizeLatitude(lat);
            ctx.arc(normLon,normLat,5,0,2*Math.PI);
            ctx.strokeStyle = "black";
            ctx.fillStyle = "pink";
            ctx.fill();
            ctx.stroke();
        };
        // get the first position
        InitialPosition = function () {
            var urlLoc = "/Flight/GetPlaneLocation";
            $.get(urlLoc, null, function (xml) {
                var xmlDoc = $.parseXML(xml),
                $xml = $(xmlDoc),
                lon = $xml.find("NewLon").text();
                lat = $xml.find("NewLat").text();
                draw(lon,lat);
            });
        };
        drawTreck = function (NewLon, NewLat, LastLon, LastLat) {
            var newNormLon = normalizeLongitude(NewLon);
            var newNormLat = normalizeLatitude(NewLat);
            var lastNormLon = normalizeLongitude(LastLon);
            var lastNormLat = normalizeLatitude(LastLat);
            console.log("in track");
            console.log(newNormLon);
            console.log(newNormLat);
            console.log(lastNormLon);
            console.log(lastNormLat);
            ctx.moveTo(lastNormLon, lastNormLat);
            ctx.lineTo(newNormLon, newNormLat);
            ctx.strokeStyle = "black";
            ctx.stroke();
        };

        DisplayTreck = function () {
            var urlTreck = "/Flight/GetPlaneTreck";
            $.get(urlTreck, null, function (xml) {
                var xmlDoc = $.parseXML(xml),
                    $xml = $(xmlDoc),
                    lon = $xml.find("NewLon").text();
                lat = $xml.find("NewLat").text();
                lastLat = $xml.find("LastLat").text();
                lastLon = $xml.find("LastLon").text();
                drawTreck(lon, lat, lastLon, lastLat);
            });
        }

        DisplayFromFile = function () {
            console.log("in dis");
            if (iter < ((sizeArr-1) / 2)-1) {
                console.log("start");
                console.log(iter);
                console.log(sizeArr);
                console.log(arr[iter * 2]);
                console.log(arr[(iter * 2) + 1]);
                console.log(arr[(iter * 2) + 2]);
                console.log(arr[(iter * 2) + 3]);
                drawTreck(arr[(iter * 2) + 2], arr[(iter * 2) + 3], arr[(iter * 2)], arr[(iter * 2) + 1]);
            } else {
                console.log("finish");
                clearInterval(interval);
                alert("finished");
            }
            console.log(iter);
            iter = iter + 1;
            console.log("finish iteration");
        }
        getDataFromFile = function () {
            var file = "@ViewBag.fileName";
            var urlTreck = "/Flight/GetPositionsFromFile";
            $.get(urlTreck, { fileName: file }, function (data) {
                arr = data.split(",");
                sizeArr = arr.length;
                draw(arr[0], arr[1]);
                interval = setInterval(DisplayFromFile, IntervalTime);
            });
        }

        if (@ViewBag.readFromFile == 1) {
            var interval;
            var iter = 0;
            var sizeArr;
            var arr;
            getDataFromFile();
        } else {
            InitialPosition();
            if (IntervalTime > 0) {
                setInterval(DisplayTreck, IntervalTime);
            }
        }
    </script>
</body>
</html>